body {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #362;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #25594D;
}

h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
}

p {
  margin: 20px 0;
}

pre, code {
  border: none;
  background: #D5E1B4;
}

code, pre code {
  color: #484F40;
}

pre {
  border-bottom: 2px solid #bec9a1;
  font-size: 14px;
}

code {
  font-size: 0.84em;
}

pre code {
  background: none;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

@media (min-width: 481px) {
  .top-notice {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.content h1 {
  display: none;
}

.logo {
  text-align: center;
  font-family: 'Lilita One', sans-serif;
  font-size: 64px;
  color: #a41211;
}

.logo img {
  width: 100px;
  vertical-align: -30px;
  margin-right: 10px;
}

.github {
  text-align: center;
  margin: 20px;
}

.github a {
  background: #25594D;
  padding: 6px 12px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 4px;
}
