<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title>Fig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Lilita+One|Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fig.css">
  </head>
  <body>
    <div class="github-top top-notice">
      <a href="https://github.com/orchardup/fig" class="btn btn-large">View on Github</a>
    </div>

    <div class="container">
      <h1 class="logo">
        <img src="img/logo.png">
        Fig
      </h1>
      <div class="content">{{ content }}</div>
    </div>

    <div class="github-bottom">
      <a href="https://github.com/orchardup/fig" class="btn btn-large">View on Github</a>
    </div>
  </body>
</html>
